
.vs/AlexiEconomy/FileContentIndex/066edfac-5968-4bce-9dc4-e7d25633a8cb.vsidx
.vs/AlexiEconomy/FileContentIndex/795316e6-e8fa-4a9e-a7f7-c4c1b806d837.vsidx
.vs/AlexiEconomy/FileContentIndex/90e64e1e-bf33-4b52-80f4-633058d2e91a.vsidx
/.vs/AlexiEconomy/FileContentIndex
/.vs/AlexiEconomy/v17
/.vscode
/bin/Debug
/obj/Debug
obj/Debug/AlexiEconomy.csproj.FileListAbsolute.txt
obj/Debug/AlexiEconomy.csproj.CoreCompileInputs.cache
obj/Debug/AlexiEconomy.csproj.AssemblyReference.cache
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
bin/Debug/AlexiEconomy.pdb
bin/Debug/AlexiEconomy.exe.config
bin/Debug/AlexiEconomy.exe
.vs/AlexiEconomy/v17/DocumentLayout.json
.vs/AlexiEconomy/v17/DocumentLayout.backup.json
.vs/AlexiEconomy/v17/.suo
.vs/AlexiEconomy/FileContentIndex/f0a90387-e928-435e-ad78-b6acd346b767.vsidx
.vs/AlexiEconomy/FileContentIndex/9fb35c64-b39d-4537-9a56-177d00807dc0.vsidx
.vs/AlexiEconomy/FileContentIndex/90e64e1e-bf33-4b52-80f4-633058d2e91a.vsidx
.vs/AlexiEconomy/FileContentIndex/795316e6-e8fa-4a9e-a7f7-c4c1b806d837.vsidx
.vs/AlexiEconomy/FileContentIndex/066edfac-5968-4bce-9dc4-e7d25633a8cb.vsidx
obj/Debug/AlexiEconomy.csproj.GenerateResource.cache
obj/Debug/AlexiEconomy.exe
obj/Debug/AlexiEconomy.Login.resources
obj/Debug/AlexiEconomy.pdb
obj/Debug/AlexiEconomy.Properties.Resources.resources
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vscode/settings.json
.vs/AlexiEconomy/FileContentIndex/035eca3a-bf00-4b0c-9f12-20dbde8dd068.vsidx
.vs/AlexiEconomy/FileContentIndex/5a881293-ef6e-40e1-b341-3aa36d3c76c6.vsidx
.vs/AlexiEconomy/FileContentIndex/935321ff-6a8e-442f-bd4f-47fdf82f45fd.vsidx
.vs/AlexiEconomy/FileContentIndex/a1b4279c-44c7-4d29-a8b4-63f32fccdb0d.vsidx

