
.vs/AlexiEconomy/FileContentIndex/066edfac-5968-4bce-9dc4-e7d25633a8cb.vsidx
.vs/AlexiEconomy/FileContentIndex/795316e6-e8fa-4a9e-a7f7-c4c1b806d837.vsidx
.vs/AlexiEconomy/FileContentIndex/90e64e1e-bf33-4b52-80f4-633058d2e91a.vsidx
/.vs/AlexiEconomy/FileContentIndex
/.vs/AlexiEconomy/v17
/.vscode
/bin/Debug
/obj/Debug
